main {
        margin: 12px;
}

@media (min-width: 950px) {
        main {
                display: grid;
                grid-template-columns: .5fr 1fr;
        }

        .rContent {
                margin: 12px;
        }
}


@media (max-width: 950px) {

}
