.de {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 0.5fr auto 1fr auto 0.5fr;

        background-color: #e6e9ef;
        outline: 3px solid #04a5e5;
        border-radius: 3px;
}

nav {
        box-shadow:
                rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
nav *:not(#exception, #mt, .exlink) {
        list-style-type: none;
        text-decoration: none;
        margin: 0;

        margin-left: 3px;
        margin-right: 3px;
}

.de .leftNav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
}

.de .midNav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}

.de .rightNav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

.mobileNav,
#mtex,
#mt {
        display: none;
        align-items: right;
        justify-content: center;
}

@media (max-width: 950px) {
        #de * {
                display: none;
        }

        nav {
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto max-content;
                outline: 3px solid #04a5e5;
                border-radius: 3px;
                background-color: #e6e9ef;
        }

        .de {
                outline: none;
                background-color: #e6e9ef;
        }

        .mobileNav {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                margin: 0px;
        }

        .mobileNav a,
        .mobileNav ul {
                padding-left: 2px;
                font-size: 18px;
                text-decoration: none;
                margin-top: 2.5px;
                margin-bottom: 2.5px;
        }

        #mt * {
                border-top: 3px dotted #4c4f69;
                display: grid;
                grid-template-rows: 1fr;
        }

        .exlink {
                border: 1px solid #4c4f69;
                border-radius: 3px;
                margin: 2.5px;
        }

        .exlink img {
                margin: 1px;
                width: 20px;
                height: 20px;
        }
}

@media (min-width: 950px) {
        #mt {
                display: none;
        }
}
