@import "latte.css";

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4c4f69; 
    

}

h1 {
    font-size: 1.8rem;
}


nav {
        border-radius: 3px;     
}



nav #mainNav {
        margin: 0px;
        padding: 0px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;


        font-size: 2rem;

	background-color:#eff1f5;
	border-radius: 3px;

        outline: #04a5e5 solid 2px ;
}

nav ul {
    list-style-type: none;
}

nav ul li h1 {
        font-size: 2rem;
        margin: 0px 0px 0px .3rem;
} 

nav ul li h1 a{
        text-decoration: none;
}

#mainNav .leftNav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
}

#mainNav img {
        border-radius: 3px;
}
#mainNav .midNav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
}

#mainNav .rightNav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        margin-right: .3rem;

}

.mobileNav {
    display: none;
}

body {
        background-color: #E6E9EF
}

main {
        display: grid;
        margin-top: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;

        grid-template-columns: .75fr 2fr;
        grid-template-rows: 1fr;
}

main h1 {
        margin: 0px;
}
.outlineBox {
        outline: #04a5e5 solid 2px;
        background-color:#eff1f5;

        margin-right: 3rem;

        margin-bottom: 3rem;
        border-radius: 3px;
        display: flex;
        flex-flow: column nowrap;

}

.box {
        outline: #04a5e5 solid 2px;
        background-color:#eff1f5;
        border-radius: 3px;
        display: flex;
        flex-flow: column nowrap;
}

.outlineBox h2 {
        font-size: 1.7rem;
        margin: auto, auto, .1rem, auto;
        align-self: center;
}

.outlineBox ul{
       list-style-type: none;
}
.inlineTag {
        padding-left: 7px;
}

.inlineTag a {
        text-decoration: none;
        margin: 2rem 0px 2rem 0px;
}

.inbox {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem, 2rem, 2rem;

}

.imageBox {
        display: flex;
        justify-content: center;
        align-items: center;
}

.title {
        display: flex;
        justify-content: center;
        align-items: center; 
}

.lang {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0px;

        border-radius: 3px;
        border-top:  #8c8fa1 dotted 2px;
        border-bottom:  #8c8fa1 dotted 2px;
}

.lang h3 {
        margin: 0px;
        text-decoration: bold;
}

.lang img {
        margin: .5rem;
}

.lang p {
        margin: 8px;
}


#divide {
        margin: 1rem;
}

#divide h3 {
        margin: 0px;
}

#divide p {
        margin: 0px;
}

.localeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 14rem;
}

.localeGrid .box {
        display: flex;
        align-items: center;
        margin: 1rem;
}

.localeGrid .box h2 {
        margin-left: auto;
        margin-right: auto;
}


.loginScreen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
}

.loginArea {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
}

.loginArea h1 {
        margin: 3px;
}

.loginArea .box {
        padding: 1rem;
}

.loginArea form label {
        margin-top: 1rem;
}

.loginArea form #submit {
        margin-top: 1rem;
}
        

@media (max-width: 950px)  {
        .rightItem{
                display: none;
        }
        .rightNav a{
                display: none;
        }

        .navItems {
                display: flex;
                justify-content: space-evenly;
        }

        .OtherItem {
                display: none;
        }

        .mobileNav {
                display: flex;
                justify-content: flex-end;
                margin: 0px 3px 0px 0px;
        }

        nav #mainNav {
                margin: 0px;
                padding: 0px;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;


                font-size: 2rem;

	        background-color:#eff1f5;
	        border-radius: 3px;

                outline: #04a5e5 solid 2px ;
        }
        
        #navMenu{
                margin: 0px;
                padding: 0px;
                background-color:#eff1f5;
        }
        #navMenu h1 {
                display: flex;
	        border-top:#8c8fa1 dotted 2px;
                margin: 0px;
                padding-left: 2px;
                justify-content: left;
        }

        #navMenu a{
                text-decoration: none;
        }


        main {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
        }



} 

@media (min-width: 950px) {
        #navMenu {
                display: none;
        }
        .mainItem span{
           margin: 0px 2rem 0px 3px;
        }
} 
 

#navMenu {
    display: none;
}
