@import "latte.css";

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4c4f69; 
    
    /*outline: red solid 1px;*/
}

ul {
    list-style-type: none;
}

nav ul{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font-size: 2rem;

	background-color:#eff1f5;
	border-bottom:#dce0e8;
	border-radius: 3px;

    box-shadow:  0px 0px 7px 0px #209fb5;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.navItems {
    display: flex;
    justify-content: left;
}

.mainItem{
    margin: 0px auto 0px 0px;
} 

.OtherItem {
    margin-right: 1rem;
    color: #4c4f69;
}

body {
    background-color: #e6e9ef;
}

.mainBox {
    display: flex;

}

img {
    border-radius: 3px;
}

@media (max-width: 850px)  {

    .navItems {
        display: flex;
        justify-content: space-evenly;
    }

    .OtherItem {
        display: none;
    }

    .mainItem {
        margin: 0px;
    }

    img :hover{
        outline: #4c4f69 solid 10px;
    }
  }