* {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
                "Lucida Sans", Arial, sans-serif;
        color: #4c4f69;
}

h2 {
        color: #4c4f69;
        margin: 3px;
}

p {
        font-size: 18px;
}

body {
        background-color: #eff1f5;
}

a {
        border-radius: 3px;
        padding: 3px;
        transition: 0.12s;
}

a:hover {
        background-color: #e6e9ef;
        box-shadow:
                rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;

        outline: 3px solid #04a5e5;
}
.box {
        background-color: #e6e9ef;
        border-radius: 3px;
        outline: 3px solid #04a5e5;

        margin: 12px;
        padding: 12px;
        box-shadow:
                rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 0.3s;
}

.outline h3 {
        margin: 3px;
}

.box h2 {
        display: flex;
        margin: 3px;
        align-items: center;
        justify-content: center;
}

.box img {
        display: flex;
        justify-content: center;
        align-items: center;
}
#indented {
        margin-left: 15px;
        list-style-type: indent;
}

#para {
        text-indent: 2rem;
}

footer {
        background-color: #e6e9ef;
        color: #5c5f77;
        border-radius: 5px;
        border-top: solid 3px #04a5e5;
        min-height: 100%;
        margin: 12px;
        padding: 12px;

        box-shadow:
                rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
                rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        transition: 0.3s;
}

@media (max-width: 950px) {
        h2 {
                display: flex;
                justify-content: center;
                align-items: center;
        }
}
